body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
    background-color: #0f0f0f;

}

form
{
    background: linear-gradient(205deg, rgba(73,70,154,1) 25%, rgba(213,30,30,1) 94%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px #000;

}
h1
{
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

label
{
    font-size: 24px;
    margin: 0 30px;
    letter-spacing: 1px;

}
input
{
    margin: 0 30px;
    border: none;
    font-size: 20px;
    height: 40px;
    border-radius: 2.9px;
    outline: none;
    color: #3f3f3f;

}
small
{
   color: #f32a5f;
   margin: 0 35px;
   font-size: 19px;
   visibility: hidden;
}
input.button-submit
{
    background-color: #7553F1;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}